<mat-card class="list-container">
  <mat-card-header class="list-header" (click)="openListDialog(column)">
    <mat-card-title>{{ column.title }}</mat-card-title>
  </mat-card-header>
  <button mat-button color="primary" (click)="openTaskDialog()">
    Add task
  </button>

  <mat-card-content>
    <mat-list role="list" class="task-list">
      @for (task of column.tasks; track task.id) {
      <app-card [task]="task" (click)="openTaskDialog(task)"></app-card>
      }
    </mat-list>
  </mat-card-content>
</mat-card>
