.form-container {
  margin-left: 8px;
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-field {
  width: 100%;
}

.close-button {
  display: flex;
  align-self: flex-end;
  padding-bottom: 15px;
}

.delete-button {
  display: flex;
  align-self: flex-start;
}
