<div cdkDropListGroup class="table-container">
  @for (column of columnsWithTasks; track column.id) {
  <app-list
    [column]="column"
    [id]="column.id.toString()"
    [cdkDropListConnectedTo]="cdkDropListConnectedIds"
    cdkDropList
    [cdkDropListData]="column.tasks"
    (cdkDropListDropped)="drop($event)"
  >
    > ></app-list
  >
  }

  <div>
    <button
      mat-button
      color="primary"
      (click)="addList()"
      *ngIf="!addingList"
      class="add-list-button"
    >
      Add list
    </button>
  </div>

  <mat-form-field class="form-field" *ngIf="addingList">
    <mat-label>Title</mat-label>
    <input
      matInput
      #titleInput
      (blur)="saveEdit(titleInput.value)"
      (keydown.enter)="saveEdit(titleInput.value)"
    />
  </mat-form-field>
</div>
