<div cdkDropListGroup class="table-container">
  @for (column of columnsWithTasks; track column.id) {
  <app-list
    [column]="column"
    [id]="column.id.toString()"
    [cdkDropListConnectedTo]="cdkDropListConnectedIds"
    cdkDropList
    [cdkDropListData]="column.tasks"
    (cdkDropListDropped)="drop($event)"
  >
    > ></app-list
  >
  }

  <div>
    <button
      mat-button
      color="primary"
      (click)="openListDialog()"
      class="add-list-button"
    >
      Add list
    </button>
  </div>
</div>
